<hr>
<div class="profile small-profile"></div>
<br>
&copy;{{dateFormatter}} Ian Handshy
<br>
Images provided by:
<br>
<a href="http://www.freepik.com/free-vector/pixelated-monster-pattern_904310.htm" target="_blank">Designed by Freepik</a>
<br>
<a href="https://giphy.com/gifs/sad-crying-McL8Gf7q6LAY0/" target="_blank">Gify</a>


