<h1>{{title}}</h1>
<h4>A Twitter Bot That {{description}}</h4>
<div class="profile"></div>
<h3>
	<a href="https://twitter.com/ihBotman" target="_blank">Twitter Profile Page</a>
</h3>
<section>
	Here is some qualifying info about this bot and what it does. Here is some qualifying info about this bot and what it does. Here is some qualifying info about this bot and what it does. Here is some qualifying info about this bot and what it does. Here is some qualifying info about this bot and what it does.
</section>


